/* Importação da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Estilos básicos */
body, input, button {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

.room-list-container {
    display: flex;
    justify-content: space-between;
    max-width: 90%; /* Aumenta a largura máxima */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px 10px; /* Ajusta o padding para maior proximidade das bordas */
}

.room-list {
    flex: 0 0 80%; /* Define uma largura fixa e impede o crescimento */
    margin-left: 20px; /* Adiciona margem entre o painel de filtros e a lista de salas */
    text-align: center;
    position: relative;
}

.side-panel {
    flex: 0 0 12%; /* Define uma largura fixa e impede o crescimento */
    padding: 10px;
    margin-right: 20px; /* Adiciona margem à direita para separar das salas */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: fit-content; /* Ajusta a altura conforme o conteúdo */
}

.profile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.room-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.room-item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

h2, p {
    margin: 10px 0;
    color: #333;
    color: #666;
}

.availability {
    font-weight: bold;
    margin-bottom: 10px;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.rent-button, .unrent-button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.rent-button {
    background-color: green;
}

.unrent-button {
    background-color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 16px;
    margin-right: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination button.active {
    background-color: #0056b3;
    color: white;
}

.pagination button:hover {
    background-color: #004494;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.filter-category {
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-category .arrow {
    transition: transform 0.3s ease;
    width: 16px; /* Ajuste o tamanho conforme necessário */
    height: 16px; /* Ajuste o tamanho conforme necessário */
}

.filter-category .arrow.down {
    transform: rotate(0deg);
}

.filter-category .arrow.up {
    transform: rotate(180deg);
}

.filter-options {
    display: block;
}

.filter-options label {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
}

/* Estilos adicionais para a área de filtro de disponibilidade */
.availability-filter {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.availability-filter input[type="checkbox"] {
    margin-right: 10px;
}

.generate-report-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.generate-report-button:hover {
    background-color: #0056b3;
}

.download-doc-button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .download-doc-button:hover {
    background-color: #45a049; /* Verde um pouco mais escuro */
  }
  