@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;500&display=swap');

/* Configuração geral */
* {
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.room-list-container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #ffffff;
}

.room-list {
    flex: 0 0 80%;
    margin-left: 20px;
    text-align: center;
    position: relative;
}

.side-panel {
    flex: 0 0 12%;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.side-panel h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.filter-category {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-options {
    margin-top: 10px;
}

.filter-options label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.filter-options input {
    margin-right: 10px;
}

.arrow {
    width: 16px;
    height: 16px;
    fill: white;
    transition: transform 0.3s ease;
}

.arrow.up {
    transform: rotate(180deg);
}

.profile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    z-index: 1050;
    margin-right: 130px;
    margin-top: 30px;
}

.profile-trigger {
    display: flex;
    align-items: center;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
}

.profile-trigger img {
    margin-right: 8px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.menu-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
}

.menu-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.menu-dropdown li:last-child {
    border-bottom: none;
}

.menu-dropdown li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.logout {
    color: red;
    display: flex;
    align-items: center;
}

.logout-icon {
    margin-left: 5px;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.room-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2, p {
    margin: 10px 0;
    color: #333;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #666;
}

.availability {
    font-weight: bold;
    margin-bottom: 10px;
}

.available {
    color: #4CAF50;
}

.unavailable {
    color: #f44336;
}

.rent-button, .unrent-button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d4af37;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    margin-top: auto;
}

.rent-button:hover, .unrent-button:hover {
    background-color: #b8952e;
    transform: scale(1.05);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 16px;
    margin-right: 5px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.pagination button.active {
    background-color: #d4af37;
    color: white;
}

.pagination button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.availability-filter {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}

.availability-filter input {
    margin-right: 10px;
}

.generate-report-button, .download-doc-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d4af37;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    margin-left: 10px;
}

.generate-report-button:hover, .download-doc-button:hover {
    background-color: #b8952e;
    transform: scale(1.05);
}
